$color-white: #FFFFFF;
$color-alto: #D6D6D6;
$color-pumice: #cad0c9;
$color-silver: #bfbebe;
$color-amulet: #7c9e7f;
$color-glade: #4c724d;
$color-scorpion: #565656;
$color-tundora-alternative: #444343;
$color-heavy-metal: #303130;
$color-mineshaft: #2B2B2B;
$color-heavy-metal-dark: #262726;
$color-tundora: #151504;
$color-black: #000000;
