@import "src/sass/imports";

.mod_form {
	.checkbox {
		input {
			margin-right: size(10);
		}
	}

	.button {
		margin-top: size(20);

		&:hover {
			background: $color-glade;
			border-color: transparent;
			color: $color-white;
		}
	}
}