@import "src/sass/imports";

.mod_form {
	&.is-hidden {
		display: none;
	}

	&.is-visible {
		display: block;
	}

	.checkbox {
		input {
			margin-right: size(10);
		}
	}

	h2 {
		text-align: left;
		font-size: 24px;
		margin-bottom: size(20);
		margin-top: size(30);
		line-height: 1.25;

		@include from($tablet) {
			white-space: nowrap;
			font-size: size(30);
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.button {
		font-size: 14px;

		@include from($tablet) {
			margin-top: size(20);
			font-size: 16px;
		}

		&:hover {
			background: $color-glade;
			border-color: transparent;
			color: $color-white;
		}
	}
}

.form_image {
	margin-top: 97px;
	display: none;

	@include from($tablet) {
		display: block;
	}
}