@import "src/sass/imports";

.mod_header {
	position: relative;
}

.header__image {
	img {
		display: block;
		width: 100%;
	}
}

.header__title {
	margin-bottom: size(15);
	color: $color-white;
	font-size: size(28);

	@include from($tablet) {
		font-size: size(46);
	}
}

.header__quote {
	font-family: 'Roboto', Arial, serif;
	font-size: size(16);
	margin-bottom: size(40);
	color: $color-white;

	@include from($tablet) {
		font-size: size(18);
	}
}

.header__text {
	position: absolute;
	width: 100%;
	padding: 0 size(20);
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;

	@include from($tablet) {
		padding: 0;
		width: size(768);
	}
}