@import "src/sass/imports";

.mod_header {
	position: relative;
	margin-bottom: 25px;

	@include from($tablet) {
		margin-bottom: 50px;
	}

	&.var_small {
		.header__image {
			height: 200px;
		}

		.header__title {
			font-size: 38px;
			margin-bottom: 0;

			@include from($tablet) {
				font-size: size(46);
			}
		}

		.header__text {
			text-align: left;

			@include from($tablet) {
				width: 100%;
			}
		}
	}
}

.header__image {
	position: relative;
	width: 100%;
	display: block;
	background-repeat: no-repeat !important;
	background-position: 50% !important;
	background-size: cover !important;
	height: 450px;

	@include from($tablet) {
		height: 650px;
	}

	.container {
		height: 100%;
	}
}

.header__title {
	margin-bottom: size(15);
	color: $color-white;
	font-size: size(28);

	@include from($tablet) {
		font-size: size(46);
	}
}

.header__quote {
	font-family: 'Roboto', Arial, serif;
	font-size: size(16);
	margin-bottom: size(40);
	color: $color-white;

	@include from($tablet) {
		font-size: size(18);
	}
}

.header__text {
	position: absolute;
	width: 100%;
	padding: 0 size(20);
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;

	@include from($tablet) {
		padding: 0 24px;
		width: size(768);
	}
}