@import "src/sass/imports";

.mod_header {
	position: relative;

	&.var_small {
		.header__image {
			height: 250px;

			@include from($tablet) {
				height: 250px;
			}
		}
	}
}

.header__image {
	position: relative;
	width: 100%;
	display: block;
	background: url("/assets/headerimage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 450px;

	@include from($tablet) {
		height: 650px;
	}

	.container {
		height: 100%;
	}
}

.header__image-title {
	position: absolute;
	color: $color-white;
	font-size: size(32);
	text-transform: uppercase;
	margin: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 24px;

	@include from($desktop) {
		padding-left: 0;
	}
}

.header__title {
	margin-bottom: size(15);
	color: $color-white;
	font-size: size(28);

	@include from($tablet) {
		font-size: size(46);
	}
}

.header__quote {
	font-family: 'Roboto', Arial, serif;
	font-size: size(16);
	margin-bottom: size(40);
	color: $color-white;

	@include from($tablet) {
		font-size: size(18);
	}
}

.header__text {
	position: absolute;
	width: 100%;
	padding: 0 size(20);
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;

	@include from($tablet) {
		padding: 0 24px;
		width: size(768);
	}
}