@import "src/sass/imports";

.navbar {
	font-size: size(18);
	padding: 0 20px !important;

	@include from($tablet) {
		padding: 0 size(40);
	}

	h1 {
		font-size: size(17);
		text-transform: uppercase;

		.first_letter {
			font-size: size(28);
		}
	}

	a {
		color: $color-black !important;
	}
}

.navbar-dropdown {
	font-size: 16px !important;
	border-radius: 0 !important;
	display: none;

	&.is-active {
		display: block;
	}
}

.navbar-menu {
	box-shadow: none !important;
}

.navbar-item {
	&.has-dropdown {
		.navbar-link {
			&:after {
				transition: transform .2s ease-in-out;
				transform: rotate(-45deg);
			}
		}
	}
	&.has-dropdown {
		&.is-active {
			.navbar-link {
				&:after {
					transform: rotate(-225deg);
				}
			}
		}
	}
}