@import "src/sass/imports";

.navbar {
	font-size: size(18);
	padding: 0 20px !important;

	@include from($tablet) {
		padding: 0 size(40);
	}

	h1 {
		font-size: size(17);
		text-transform: uppercase;

		.first_letter {
			font-size: size(28);
		}
	}

	a {
		color: $color-black !important;
	}
}

.navbar-dropdown {
	font-size: 16px !important;
	border-radius: 0 !important;
}