@import "src/sass/imports";

.mod_footer {
	background: $color-heavy-metal;
	color: $color-white;
	margin-top: 70px;

	a {
		color: $color-white !important;
	}
}

.footer__contact {
	font-size: size(22);
	margin-bottom: size(40);
	text-align: center;
	background: $color-glade;
	box-sizing: border-box;
	padding: 0;

	@include from($tablet) {
		font-size: size(26);
	}

	.column {
		margin-bottom: 0;
	}

	.footer__phone {
		svg {
			font-size: 27px;
			margin-right: size(10);
			margin-top: size(-5);
			vertical-align: middle;
		}
	}

	.footer__mail {
		svg {
			font-size: 35px;
			vertical-align: middle;
			margin-top: -5px;
			margin-right: 10px;
		}
	}
}

.footer__link-title {
	margin-bottom: size(10);
	text-transform: uppercase;
	font-size: size(18);

	&:hover {
		text-decoration: underline;
	}
}

.footer__link {
	font-size: size(16);
	margin-bottom: size(5);

	&:hover {
		text-decoration: underline;
	}
}

.footer__sitemap {
	text-align: center;
	padding: 0 24px;
	margin-bottom: 30px;

	.column {
		margin-bottom: 0;
	}

	@include from($desktop) {
		text-align: left;
	}
}

.footer__service-navigation {
	background: $color-heavy-metal-dark;

	.container {
		padding: 0 20px;

		@include from($desktop) {
			padding: 0;
		}
	}

	.service-navigation__link {
		display: inline-block;
		padding-top: 5px;
		margin-right: 20px;

		&:hover {
			text-decoration: underline;
		}
	}

	.service-navigation__social {
		font-size: 22px;
		padding-top: 4px;
		cursor: pointer;
		float: right;

		@include from($desktop) {
			float: none;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		svg {
			margin-right: 15px;

			&:hover {
				fill: $color-amulet;
			}
		}
	}
}