@import "src/sass/imports";

.mod_cookie-banner {
	position: fixed;
	background: $color-scorpion;
	color: $color-white;
	padding: 30px 30px;
	width: 100%;
	right: auto;
	bottom: 0;

	&.is-visible {
		display: block;
	}

	&.is-hidden {
		display: none;
	}

	@include from($tablet) {
		right: 50px;
		bottom: 50px;
		width: 450px;
	}
}

.cookie-banner-text {
	margin-bottom: 15px;
}

.cookie-banner-cta {
	margin-right: 10px;
	background-color: #d6d6d6;
	border-color: #d6d6d6;
	color: black;

	&:last-child {
		margin-right: 0;
	}
}